@use './variables' as *;
@use './mixins' as *;
@use './animations' as *;

html{
    font-size: 100%;
    box-sizing: border-box;

}

*, *::after, *::before{
    box-sizing: inherit;
}

// resets
body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: $grayishBlue;
}

// links

a, a:visited, a:hover {
    text-decoration: none;
    font-weight: 400;
}

// buttons
button, .button{
    text-transform: capitalize;
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right,$limeGreen, $brightCyan);
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    color: $white;
   
}
// flex
.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}


// visibility
.hide-in-mobile{
    @include breakpoint-down(md){
        display: none;
    }
}

.hide-in-desktop{
    @include breakpoint-up(md){
        display: none;
    }
}

// animation
.fade-in{
      animation: fade-in 300ms ease-in-out forwards;
}
.fade-out{
      animation: fade-out 300ms ease-in-out forwards;
}
