@use "./variables" as *;
@use "./animations" as *;
@use "./mixins" as *;

.hero {
  background-color: $veryLightGray;
  .container {
    // for desktop
    @include breakpoint-up(l) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    > *:first-child {
      flex: 3;
    }
    > *:last-child {
      flex: 2;
    }
  }

  &__image {
    background-image: url(../images/bg-intro-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    position: relative;

    // -add image

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 100%;
      height: 100%;
    }

    @include breakpoint-up(l) {
      background: none;
      height: 41rem;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url("/images/bg-intro-desktop.svg");
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("/images/image-mockups.png");
        background-size: 93%;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(l) {
      order: 2;
      flex: 1;
      text-align: left;
    }
  }
}
